* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope-Regular.ttf);
}
@font-face {
  font-family: AnekBangla;
  src: url(../fonts/AnekBangla-Regular.ttf);
}
@font-face {
  font-family: Acme;
  src: url(../fonts/Acme-Regular.ttf);
}

.gradient {
  background: linear-gradient(
    166deg,
    rgba(73, 164, 248, 0.24) 10.8%,
    rgba(15, 209, 186, 0.07) 67.77%
  );

  filter: blur(100px);
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 5vh;
  line-height: 100px;
}

nav a {
  color: black;
  text-decoration: none;
  margin-right: 4rem;
}

nav div:nth-of-type(1) {
  font-size: clamp(1rem, 2vw, 2rem);
  font-family: AnekBangla;
  font-weight: 700;
}

nav div:nth-of-type(2) {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  font-family: Manrope;
  font-weight: 600;
}

nav div:nth-of-type(3) {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  font-family: Manrope;
  font-weight: 600;
}

.arrow-after::after {
  padding-left: 3px;
  content: url(../img/Vector\ 3.svg);
}

.orange-btn {
  font-family: Manrope;
  color: black;
  text-decoration: none;
  background-color: #f57059;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.header-img {
  background-image: url(../img/Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35vw;
}

.header-flex h1 {
  color: black;
  font-family: Acme;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.header-flex h2 {
  color: black;
  font-family: Manrope;
  font-size: 5rem;
  font-weight: 1000;
}

.header-flex p {
  color: #757095;
  font-family: Manrope;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5vh;
}

.green-btn {
  text-decoration: none;
  font-family: Manrope;
  font-size: 1.8rem;
  color: white;
  background-color: #05796b;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 38px 50px 0px rgba(5, 121, 107, 0.2);
}

.header-stats {
  display: flex;
  align-self: flex-start;
  width: 35vw;
  margin-top: 5vh;
}

.header-stats h2 {
  color: #282828;
  font-family: Manrope;
  font-size: 2.6rem;
  font-weight: 700;
}

.header-stats p {
  color: #8593a3;
  font-family: AnekBangla;
  font-size: 1.6rem;
  font-weight: 100;
}

.brands {
  text-align: center;
  margin-top: 10vh;
}

.brands h2 {
  color: black;
  font-family: Acme;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 3vh;
}

.brands-img {
  background-image: url(../img/Logos.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2vh;
  width: 80vw;
  margin: auto;
}

.our-services {
  background-image: url(../img/Vector.png);
  background-position: top 150px right;
  background-repeat: no-repeat;
  background-size: 60% 70%;
}

.services-content {
  text-align: center;
  width: 50vw;
  margin: auto;
  padding-top: 10vh;
}

.services-content h3 {
  color: black;
  font-family: AnekBangla;
  font-size: 1.4rem;
  font-weight: 700;
}

.services-content p {
  color: black;
  font-family: Manrope;
  font-size: 4rem;
  font-weight: 800;
}

.grid-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 10vh;
  align-items: center;
  width: 65vw;
  margin: auto;
  padding-top: 5vh;
}

.box {
  border: 1px solid #e7e7e7;
  border-radius: 1.5rem;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  width: 15vw;
  margin: auto;
  background-color: white;
}

.box img {
  background-color: #ececec;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 2vh;
}

.box-title {
  color: black;
  font-family: Manrope;
  font-size: 2rem;
  font-weight: 700;
  width: 10vw;
  margin-bottom: 2vh;
}

.box-p {
  color: #757095;
  font-family: Manrope;
  font-size: 1.2rem;
  font-weight: 500;
}

.box-green {
  background-color: #05796b;
  border-radius: 1.5rem;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  width: 15vw;
  height: 18vh;
}

.box-green-title {
  color: white;
  font-family: Manrope;
  font-size: 3.3rem;
  font-weight: 700;
  width: 3vw;
  margin-top: 3vh;
}

.box-green-p {
  color: white;
  font-family: Manrope;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.1vh;
}

.learn-more h2 {
  color: black;
  text-align: center;
  font-family: Manrope;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 3vh;
}

.learn-more h4 {
  color: #757095;
  text-align: center;
  font-family: Manrope;
  font-size: 2rem;
  font-weight: 400;
  width: 30vw;
  margin: auto;
}

.bird-img {
  background-image: url(../img/62.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 7rem;
  height: 7rem;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.learn-more-img {
  background-image: url(../img/Group\ 1000000809.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  width: 60vw;
  margin: auto;
}

.learn-more-content {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 60vw;
  margin: auto;
  gap: 10vw;
}

.learn-more-content h3 {
  color: #282828;
  font-family: Manrope;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 1vh;
}

.learn-more-content p {
  color: #757095;
  font-family: Manrope;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10vh;
}

.project-management {
  text-align: center;
}

.project-management h2 {
  color: #f57059;
  font-family: AnekBangla;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2vh;
}

.project-management h3 {
  color: black;
  font-family: Manrope;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 2vh;
}

.project-management p {
  color: #757095;
  font-family: Manrope;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3vh;
}

.button-flex {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 3vw;
  margin-bottom: 10vh;
}

.button-flex img {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

.playstore {
  background-color: #f57059;
  border-radius: 25px;
  padding: 20px 50px 20px 50px;
  text-decoration: none;
  color: white;
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 600;
}

.playstore::before {
  content: url(../img/apple-logo\ 1.svg);
  margin-right: 15px;
}

.googleplay {
  background-color: #05796b;
  border-radius: 25px;
  padding: 20px 50px 20px 50px;
  text-decoration: none;
  color: white;
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.googleplay::before {
  content: url(../img/apple-logo\ 1.svg);
  margin-right: 15px;
}

.flex-afro {
  display: flex;
}

.afro-img {
  background-image: url(../img/image\ 64.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60vh;
  width: 50vw;
  margin: auto;
}

.afro-text {
  padding-right: 20vw;
  margin-top: 15vh;
  text-align: left;
}

.afro-text h2 {
  color: black;
  font-family: Manrope;
  font-size: 4rem;
  font-weight: 800;
  width: 30vw;
}

.afro-text p {
  color: #757095;
  font-family: Manrope;
  font-size: 2rem;
  font-weight: 400;
  width: 30vw;
  margin-bottom: 5vh;
}

.start-today {
  text-align: center;
  margin-top: 10vh;
}

.start-h {
  color: black;
  text-align: center;
  font-family: Manrope;
  font-size: 4.6rem;
  font-weight: 800;
  width: 40vw;
  margin: auto;
  margin-bottom: 3vh;
}

.start-p {
  color: #757095;
  text-align: center;
  font-family: Manrope;
  font-size: 2rem;
  font-weight: 400;
  width: 30vw;
  margin: auto;
}

.start-boxes {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  gap: 5vw;
}

/* ! WHITE BOX ! */
.start-box-one {
  background-color: rgb(255, 255, 255);
  width: 20vw;
  border-radius: 1.6rem;
  text-align: left;
  box-shadow: 0px 8px 80px 0px rgba(167, 167, 167, 0.24);
  padding-left: 3vw;
  padding-right: 3vw;
  height: 60vh;
}

.start-box-one h2 {
  color: #05796b;
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1vh;
  margin-top: 2vh;
}

.start-box-one h3 {
  color: #282828;
  font-family: Manrope;
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 1vh;
}

.start-box-one h4 {
  color: #8593a3;
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 4vh;
}

.start-box-one p {
  margin-bottom: 1vh;
}

.start-box-one a {
  color: #8593a3;
  font-family: Manrope;
  font-size: 1.8rem;
  font-weight: 600;
  border: solid 1px #8593a3;
  padding: 10px 25px 10px 25px;
  border-radius: 15px;
  text-align: center;
  margin-left: 2.3vw;
  text-decoration: none;
  margin-bottom: 4vh;
}

.basic-vier {
  font-family: Manrope;
  font-size: 1.6rem;
  color: #8593a3;
}

.basic-p-one {
  font-family: Manrope;
  font-size: 1.6rem;
  color: #8593a3;
}

.basic-p-one::before {
  content: url(../img/check-circle.png);
  padding-right: 1vw;
}

.basic-p-two {
  font-family: Manrope;
  font-size: 1.6rem;
  color: #929292;
}

.basic-p-two::before {
  content: url(../img/check-circle.png);
  padding-right: 1vw;
}

.basic-p-three {
  font-family: Manrope;
  font-size: 1.6rem;
  color: #929292;
}

.basic-p-three::before {
  content: url(../img/cross-circle.png);
  padding-right: 1vw;
}

.basic-p-four {
  font-family: Manrope;
  font-size: 1.6rem;
  color: #a3a3a3;
  padding-bottom: 4vh;
}

.basic-p-four::before {
  content: url(../img/cross-circle.png);
  padding-right: 1vw;
}

/* ! GREEN BOX ! */
.start-box-two {
  background-color: #05796b;
  width: 20vw;
  border-radius: 1.6rem;
  text-align: left;
  padding-left: 3vw;
  padding-right: 3vw;
  height: 60vh;
  box-shadow: 0px 8px 80px 0px rgba(5, 121, 107, 0.52);
}

.start-box-two h2 {
  color: white;
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1vh;
  margin-top: 2vh;
}

.start-box-two h3 {
  color: white;
  font-family: Manrope;
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 1vh;
}

.start-box-two h4 {
  color: white;
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 6vh;
}

.start-box-two p {
  margin-bottom: 1vh;
}

.start-box-two a {
  color: white;
  font-family: Manrope;
  font-size: 1.8rem;
  font-weight: 600;
  border: solid 1px white;
  padding: 10px 25px 10px 25px;
  border-radius: 15px;
  text-align: center;
  margin-left: 2.3vw;
  text-decoration: none;
  margin-bottom: 4vh;
}

.premium-vier {
  font-family: Manrope;
  font-size: 1.6rem;
  color: white;
}

.premium-p-one {
  font-family: Manrope;
  font-size: 1.6rem;
  color: white;
}

.premium-p-one::before {
  content: url(../img/check-circle-white.svg);
  padding-right: 1vh;
}

.premium-p-two {
  font-family: Manrope;
  font-size: 1.6rem;
  color: white;
}

.premium-p-two::before {
  content: url(../img/check-circle-white.svg);
  padding-right: 1vh;
}

.premium-p-three {
  font-family: Manrope;
  font-size: 1.6rem;
  color: white;
}

.premium-p-three::before {
  content: url(../img/check-circle-white.svg);
  padding-right: 1vh;
}

.premium-p-four {
  font-family: Manrope;
  font-size: 1.6rem;
  color: white;
  padding-bottom: 4vh;
}

.premium-p-four::before {
  content: url(../img/check-circle-white.svg);
  padding-right: 1vh;
}

.testimonials {
  padding-left: 10vw;
  padding-right: 10vw;
}

.testimonials-flex {
  display: flex;
  justify-content: space-between;
}

.testimonials-img {
  background-image: url(../img/Group\ 1000000804.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40vw;
  height: 50vh;
  margin: auto;
}

.testimonials-text img {
  margin-bottom: 1vh;
}

.testimonials h2 {
  color: #3734a9;
  text-align: center;
  font-family: AnekBangla;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 10vh;
}

.testimonials h3 {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 5vh;
}

.testimonials-info {
  color: #1b1c31;
  font-family: Manrope;
  font-size: 3rem;
  font-weight: 700;
  width: 30vw;
  margin-bottom: 2vh;
}

.testimonials-name {
  color: #000;
  font-family: Manrope;
  font-size: 2rem;
  font-weight: 700;
  width: 8vw;
}

.testimonials-ceo {
  color: #757095;
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 500;
}

.discover {
  text-align: center;
  background-color: #05796b;
  box-shadow: 0px 38px 50px 0px rgba(5, 121, 107, 0.2);
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vh;
  border-radius: 1.6rem;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.discover h2 {
  color: white;
  text-align: center;
  font-family: Manrope;
  font-size: 5.6rem;
  font-weight: 800;
  width: 40vw;
  margin: auto;
  margin-bottom: 5vh;
}

.discover-btn {
  text-decoration: none;
  background-color: #f57059;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  color: #fff;
  font-family: AnekBangla;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
}

footer {
  margin-top: 15vh;
}

footer section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

footer section h2 {
  color: #181433;
  font-family: Manrope;
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 2vh;
}

footer section p {
  color: #181433;
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 400;
}

footer h3 {
  text-align: center;
  color: #181433;
  font-family: Manrope;
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.footer-cont {
  margin-bottom: 2vh;
}

.danial-h p {
  font-size: 1.3rem;
}

.footer-img {
  background-image: url(../img/Group\ 169.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 2vh;
  margin-top: 3vh;
}

/* !! MEDIA QUERIES !! */
